* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Day Mode */
.light_body {
    font-family: Arial, sans-serif;
    background-color: #f6f4f3;
    color: #333;
}

.main-title {
    text-align: center;
    font-size: 70px;
    color: #887453;
}

.title {
    text-align: center;
    font-size: 40px;
}

.nav-light {
    background-color:#e6e0d9;
}

.card {
    margin: 0 auto;
}

.card .btn {
    background-color: #bfa67a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.card .btn:hover {
    background-color: #887453;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    background-color: #c8beb3;
}



/* Dark Mode */
.dark_body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #FFF;
}

.nav-dark {
    background-color:#3c3c3c;
}

.dark_body .main-title {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}

.dark_body .title {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}

.dark_body .card {
    color: #FFFFFF;
    background-color: #272727;
} 

.dark_body .card .btn {
    background-color: #827d7d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.dark_body .card .btn:hover {
    background-color: #b0afad;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.dark_body footer {
    background-color: #3c3c3c;
}